{% extends "JP\AdminBundle::layout.html.twig" %}

{% block body %}
    <h1>Offres list</h1>
<div >
        <p class="text-right">
            <a class ="btn btn-success" href="{{ path('admin_offre_new') }}"> <i class="fa fa-plus"></i> Ajouter</a>
        </p>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Prix</th>
                <th>Nbulletin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td><a href="{{ path('admin_offre_show', { 'id': offre.id }) }}">{{ offre.id }}</a></td>
                <td>{{ offre.libelle }}</td>
                <td>{{ offre.prix }}</td>
                <td>{{ offre.nbulletin }}</td>
                <td>
                     <p>
                            <a class ="btn btn-info" href="{{ path('admin_offre_show', { 'id': offre.id }) }}"><i class="fa fa-eye"></i> Voir </a>
                    
                            <a class ="btn btn-warning" href="{{ path('admin_offre_edit', { 'id': offre.id }) }}"><i class="fa fa-edit"></i> Modifier</a>
                        </p>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
