{% extends "JP\AdminBundle::layout.html.twig" %}

{% block body %}
    <h1>Primesalaries list</h1>
 <div >
        <p class="text-right">
            <a class ="btn btn-success" href="{{ path('admin_prime_new') }}"> <i class="fa fa-plus"></i> Ajouter</a>
        </p>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for primeSalary in primeSalaries %}
            <tr>
                <td><a href="{{ path('admin_prime_show', { 'id': primeSalary.id }) }}">{{ primeSalary.id }}</a></td>
                <td>{{ primeSalary.libelle }}</td>
                <td>
                    <p>
                            <a class ="btn btn-info" href="{{ path('admin_prime_show', { 'id': primeSalary.id }) }}"><i class="fa fa-eye"></i> Voir </a>
                    
                            <a class ="btn btn-warning" href="{{ path('admin_prime_edit', { 'id': primeSalary.id }) }}"><i class="fa fa-edit"></i> Modifier</a>
                        </p>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
