{% extends "JP\AdminBundle::layout.html.twig" %}

{% block body %}
    <h1>conventions list</h1>
<div >
        <p class="text-right">
            <a class ="btn btn-success" href="{{ path('admin_convention_new')  }}"> <i class="fa fa-plus"></i> Ajouter</a>
        </p>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for convention in conventions %}
            <tr>
                <td><a href="{{ path('admin_convention_show', { 'id': convention.id }) }}">{{ convention.id }}</a></td>
                <td>{{ convention.libelle }}</td>
                <td>
                    <p>
                            <a class ="btn btn-info" href="{{ path('admin_convention_show', { 'id': convention.id }) }}"><i class="fa fa-eye"></i> Voir </a>
                    
                            <a class ="btn btn-warning" href="{{ path('admin_convention_edit', { 'id': convention.id }) }}"><i class="fa fa-edit"></i> Modifier</a>
                        </p>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
