{% extends "JP\AdminBundle::layout.html.twig" %}

{% block body %}
    <h1>convention</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ convention.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ convention.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_convention_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_convention_edit', { 'id': convention.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
